@font-face {
  font-family: "Be Vietnam Pro Regular";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro Medium";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro SemiBold";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro Bold";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  background-color: #F1F1F3;
}

body,
button {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1596px;
  width: 96%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #F1F1F3;
  color: #fff;
  padding: 10px 0;
  height: 100px;
  max-width: 1589px;
  width: 96%;
  margin: 40px auto;
}
.navigation .left {
  width: 869px;
  display: flex;
  align-items: center;
}
.navigation .left .logo {
  margin-right: 50px;
}
.navigation .left__nav {
  display: flex;
}
.navigation .left .navmenu {
  padding: 17px 24px;
  border-radius: 8px;
  align-items: center;
  color: #262626;
}
.navigation .left .navmenu:hover {
  background-color: #FF9500;
  cursor: pointer;
  color: #fff;
}
.navigation .right {
  display: flex;
  align-items: center;
}
.navigation .right__btn {
  display: flex;
  height: 55px;
  align-items: center;
}
.navigation .right__btn .navbtn {
  padding: 14px 34px;
  border-radius: 8px;
  align-items: center;
  background-color: #F1F1F3;
}
.navigation .right__btn .navbtn:hover {
  background-color: #FF9500;
  cursor: pointer;
  color: #fff;
}

.aboutUs {
  display: flex;
  flex-direction: column;
}
.aboutUs__text {
  display: flex;
  gap: 100px;
  width: 100%;
  margin-bottom: 100px;
}
.aboutUs__text h1 {
  display: flex;
  width: 50%;
  align-items: center;
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 48px;
}
.aboutUs__text p {
  width: 50%;
  padding-right: 6.94438vw;
  color: #59595A;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.aboutUs__textOne {
  margin-bottom: 80px;
}
.aboutUs__textOne h1 {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  font-size: 48px;
}
.aboutUs__textOne p {
  color: #59595A;
  font-size: 18px;
}
.aboutUs__cards {
  margin: 0 0 177px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.aboutUs__cards:last-child {
  margin: 0 0 80px;
}
.aboutUs__cards .card {
  padding: 50px;
  background-color: #fff;
  border-radius: 12px;
}
.aboutUs__cards .card img {
  padding: 16px;
  background-color: #FFF9F0;
  border-radius: 8px;
  margin-bottom: 30px;
}
.aboutUs__cards .card h3 {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 14px;
  color: #262626;
}
.aboutUs__cards .card p {
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #59595A;
}
.aboutUs .together {
  background-color: #fff;
  border-radius: 12px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 80px;
  height: 323px;
  background: #fff url("../icons/aboutUs/shape-17.png") no-repeat;
  background-position: 81% center;
}
.aboutUs .together__text {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.aboutUs .together__text h1 {
  font-size: 48px;
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.aboutUs .together__text span {
  color: #FF9500;
}
.aboutUs .together__btn {
  display: flex;
}
.aboutUs .together__btn a {
  background-color: #F1F1F3;
  padding: 18px 24px;
  border-radius: 8px;
  color: #262626;
}
.aboutUs .together__btn a:hover {
  color: #fff;
  background-color: #FF9500;
}

.icon {
  width: 52px;
  height: 52px;
  cursor: pointer;
}

.fb {
  background: #F1F1F3 url("../socials/fb.svg") no-repeat;
  background-position: center;
  border-radius: 8px;
}
.fb:hover {
  background: #FF9500 url("../socials/fbW.svg") no-repeat;
  background-position: center;
}

.tt {
  background: #F1F1F3 url("../socials/tt.svg") no-repeat;
  background-position: center;
  border-radius: 8px;
}
.tt:hover {
  background: #FF9500 url("../socials/ttW.svg") no-repeat;
  background-position: center;
}

.linkedIn {
  background: #F1F1F3 url("../socials/linkedIn.svg") no-repeat;
  background-position: center;
  border-radius: 8px;
}
.linkedIn:hover {
  background: #FF9500 url("../socials/linkedInW.svg") no-repeat;
  background-position: center;
}

footer {
  background-color: #fff;
  margin: 100px auto 0;
}
footer .up {
  max-width: 1590px;
  width: 96%;
  padding: 100px 0 0 0;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
}
footer .up .left {
  width: 50%;
}
footer .up .left .webLogo {
  margin-bottom: 40px;
}
footer .up .left ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
footer .up .left ul li {
  display: flex;
  gap: 6px;
  align-items: center;
}
footer .up .right {
  width: 50%;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
footer .up .right .home ul, footer .up .right .aboutUs ul, footer .up .right .socials ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #59595A;
}
footer .up .right .home ul li:first-child, footer .up .right .aboutUs ul li:first-child, footer .up .right .socials ul li:first-child {
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #262626;
  margin-bottom: 14px;
}
footer .up .right .socials li {
  display: flex;
  gap: 14px;
}
footer .up .right .socials li img {
  padding: 14px;
  background-color: #F7F7F8;
  border-radius: 8px;
}
footer .up .right .socials li img:hover {
  background-color: #FF9500;
  color: #fff;
}
footer .space {
  height: 1px;
  margin: 50px auto;
  background-color: #F1F1F3;
  display: flex;
  justify-content: center;
}
footer .down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}/*# sourceMappingURL=aboutUs.css.map */