@font-face {
  font-family: "Be Vietnam Pro Regular";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro Medium";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro SemiBold";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro Bold";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  background-color: #F1F1F3;
}

body,
button {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1596px;
  width: 96%;
  margin: 0 auto;
}

.banner {
  max-width: 1860px;
  width: 96%;
  margin: 20px auto 0;
  background-color: #FF9500;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 23px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
}
.banner__text {
  color: #fff;
}
.banner img {
  width: 24px;
  height: 24px;
}
@media (max-width: 1280px) {
  .banner {
    font-size: 14px;
  }
  .banner img {
    width: 20px;
    height: 20px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #F1F1F3;
  color: #fff;
  padding: 10px 0;
  height: 100px;
  max-width: 1589px;
  width: 96%;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .navigation {
    font-size: 14px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
.navigation .left {
  width: 869px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .navigation .left {
    width: 30%;
  }
}
.navigation .left .logo {
  margin-right: 50px;
  width: 54px;
  height: 54px;
}
@media (max-width: 1280px) {
  .navigation .left .logo {
    width: 44px;
    height: 44px;
  }
}
.navigation .left__nav {
  display: flex;
}
@media (max-width: 767px) {
  .navigation .left__nav {
    display: none;
  }
}
.navigation .left .navmenu {
  padding: 17px 24px;
  border-radius: 8px;
  align-items: center;
  color: #262626;
}
.navigation .left .navmenu:hover {
  background-color: #FF9500;
  cursor: pointer;
  color: #fff;
}
.navigation .right {
  display: flex;
  align-items: center;
}
.navigation .right__btn {
  display: flex;
  height: 55px;
  align-items: center;
}
.navigation .right__btn .navbtn {
  padding: 14px 34px;
  border-radius: 8px;
  align-items: center;
  background-color: #F1F1F3;
}
@media (max-width: 1280px) {
  .navigation .right__btn .navbtn {
    font-size: 14px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .navigation .right__btn .navbtn {
    padding: 12px 20px;
    height: 100%;
  }
}
.navigation .right__btn .navbtn:hover {
  background-color: #FF9500;
  cursor: pointer;
  color: #fff;
}

.coursesOpen {
  display: flex;
  flex-direction: column;
}
.coursesOpen__text {
  display: flex;
  gap: 100px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .coursesOpen__text {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
  }
}
.coursesOpen__text h1 {
  display: flex;
  width: 50%;
  align-items: center;
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 48px;
}
@media (max-width: 1280px) {
  .coursesOpen__text h1 {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .coursesOpen__text h1 {
    font-size: 28px;
    width: 100%;
  }
}
.coursesOpen__text p {
  width: 50%;
  padding-right: 6.94438vw;
  color: #59595A;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 1280px) {
  .coursesOpen__text p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .coursesOpen__text p {
    font-size: 14px;
    width: 100%;
  }
}
.coursesOpen__cards {
  margin: 100px 0 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 767px) {
  .coursesOpen__cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 0;
  }
}
.coursesOpen__cards .card {
  padding: 50px;
  background-color: #fff;
  border-radius: 12px;
}
@media (max-width: 767px) {
  .coursesOpen__cards .card {
    padding: 30px;
  }
}
.coursesOpen__cards .card__up {
  display: flex;
  flex-direction: column;
}
.coursesOpen__cards .card__up .number {
  font-size: 80px;
  font-family: "Be Vietnam Pro Bold", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
@media (max-width: 1280px) {
  .coursesOpen__cards .card__up .number {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .coursesOpen__cards .card__up .number {
    font-size: 50px;
    margin-bottom: 30px;
  }
}
.coursesOpen__cards .card__up .text {
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 50px;
}
@media (max-width: 1280px) {
  .coursesOpen__cards .card__up .text {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .coursesOpen__cards .card__up .text {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.coursesOpen__cards .card__mid {
  border: 1px solid #F1F1F3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px;
  margin-bottom: 20px;
}
.coursesOpen__cards .card__mid:hover {
  border: 1px solid #FFD599;
  box-shadow: 2px 2px 2px 2px #FFD599;
}
.coursesOpen__cards .card__mid:hover:hover .time {
  background-color: #FFD599;
}
@media (max-width: 767px) {
  .coursesOpen__cards .card__mid {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
.coursesOpen__cards .card__mid .mainText {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 6px;
}
@media (max-width: 1280px) {
  .coursesOpen__cards .card__mid .mainText {
    font-size: 16px;
  }
}
.coursesOpen__cards .card__mid .text {
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #59595A;
}
@media (max-width: 1280px) {
  .coursesOpen__cards .card__mid .text {
    font-size: 14px;
  }
}
.coursesOpen__cards .card__mid .nameLesson {
  width: 68%;
}
@media (max-width: 767px) {
  .coursesOpen__cards .card__mid .nameLesson {
    width: 100%;
  }
}
.coursesOpen__cards .card__mid .time {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 14px;
  max-width: 153px;
  background-color: #F7F7F8;
  color: #59595A;
}
@media (max-width: 1280px) {
  .coursesOpen__cards .card__mid .time {
    font-size: 14px;
  }
}

.icon {
  width: 52px;
  height: 52px;
  cursor: pointer;
}

.fb {
  background: #F1F1F3 url("../socials/fb.svg") no-repeat;
  background-position: center;
  border-radius: 8px;
}
.fb:hover {
  background: #FF9500 url("../socials/fbW.svg") no-repeat;
  background-position: center;
}

.tt {
  background: #F1F1F3 url("../socials/tt.svg") no-repeat;
  background-position: center;
  border-radius: 8px;
}
.tt:hover {
  background: #FF9500 url("../socials/ttW.svg") no-repeat;
  background-position: center;
}

.linkedIn {
  background: #F1F1F3 url("../socials/linkedIn.svg") no-repeat;
  background-position: center;
  border-radius: 8px;
}
.linkedIn:hover {
  background: #FF9500 url("../socials/linkedInW.svg") no-repeat;
  background-position: center;
}

footer {
  background-color: #fff;
  margin: 150px auto 0;
}
@media (max-width: 767px) {
  footer {
    margin: 0 auto;
  }
}
footer .up {
  max-width: 1590px;
  width: 96%;
  padding: 100px 0 0;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  footer .up {
    padding: 60px 0 0 0;
  }
}
@media (max-width: 767px) {
  footer .up {
    flex-direction: column;
    gap: 24px;
    padding: 50px 0 0;
  }
}
footer .up .left {
  width: 50%;
}
footer .up .left .webLogo {
  margin-bottom: 40px;
}
footer .up .left ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 1280px) {
  footer .up .left ul {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  footer .up .left ul {
    font-size: 15px;
  }
}
footer .up .left ul li {
  display: flex;
  gap: 6px;
  align-items: center;
}
footer .up .right {
  width: 50%;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
@media (max-width: 767px) {
  footer .up .right {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
footer .up .right .home ul, footer .up .right .aboutUs ul, footer .up .right .socials ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #59595A;
}
@media (max-width: 1280px) {
  footer .up .right .home ul, footer .up .right .aboutUs ul, footer .up .right .socials ul {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  footer .up .right .home ul, footer .up .right .aboutUs ul, footer .up .right .socials ul {
    font-size: 14px;
  }
}
footer .up .right .home ul li:first-child, footer .up .right .aboutUs ul li:first-child, footer .up .right .socials ul li:first-child {
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #262626;
  margin-bottom: 14px;
}
@media (max-width: 1280px) {
  footer .up .right .home ul li:first-child, footer .up .right .aboutUs ul li:first-child, footer .up .right .socials ul li:first-child {
    font-size: 18px;
  }
}
footer .up .right__nav {
  display: flex;
  gap: 30px;
  width: 350px;
}
footer .up .right .socials li {
  display: flex;
  gap: 14px;
}
@media (max-width: 767px) {
  footer .up .right .socials li {
    gap: 10px;
  }
}
footer .up .right .socials li img {
  padding: 14px;
  background-color: #F7F7F8;
  border-radius: 8px;
}
footer .up .right .socials li img:hover {
  background-color: #FF9500;
  color: #fff;
}
footer .space {
  height: 1px;
  margin: 50px auto;
  background-color: #F1F1F3;
  display: flex;
  justify-content: center;
}
@media (max-width: 1280px) {
  footer .space {
    margin: 30px auto;
  }
}
footer .down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
@media (max-width: 1280px) {
  footer .down {
    font-size: 14px;
  }
}

#dropdown {
  display: none;
}
@media (max-width: 767px) {
  #dropdown {
    display: block;
    margin-left: 20px;
  }
}/*# sourceMappingURL=coursesOpen.css.map */