@font-face {
  font-family: "Be Vietnam Pro Regular";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro Medium";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro SemiBold";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro Bold";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  background-color: #F1F1F3;
}

body,
button {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1596px;
  width: 96%;
  margin: 0 auto;
}

.banner {
  max-width: 1860px;
  width: 96%;
  margin: 20px auto 0;
  background-color: #FF9500;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 23px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
}
.banner__text {
  color: #fff;
}
.banner img {
  width: 24px;
  height: 24px;
}
@media (max-width: 1280px) {
  .banner {
    font-size: 14px;
  }
  .banner img {
    width: 20px;
    height: 20px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #F1F1F3;
  color: #fff;
  padding: 10px 0;
  height: 100px;
  max-width: 1589px;
  width: 96%;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .navigation {
    font-size: 14px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
.navigation .left {
  width: 869px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .navigation .left {
    width: 30%;
  }
}
.navigation .left .logo {
  margin-right: 50px;
  width: 54px;
  height: 54px;
}
@media (max-width: 1280px) {
  .navigation .left .logo {
    width: 44px;
    height: 44px;
  }
}
.navigation .left__nav {
  display: flex;
}
@media (max-width: 767px) {
  .navigation .left__nav {
    display: none;
  }
}
.navigation .left .navmenu {
  padding: 17px 24px;
  border-radius: 8px;
  align-items: center;
  color: #262626;
}
.navigation .left .navmenu:hover {
  background-color: #FF9500;
  cursor: pointer;
  color: #fff;
}
.navigation .right {
  display: flex;
  align-items: center;
}
.navigation .right__btn {
  display: flex;
  height: 55px;
  align-items: center;
}
.navigation .right__btn .navbtn {
  padding: 14px 34px;
  border-radius: 8px;
  align-items: center;
  background-color: #F1F1F3;
}
@media (max-width: 1280px) {
  .navigation .right__btn .navbtn {
    font-size: 14px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .navigation .right__btn .navbtn {
    padding: 12px 20px;
    height: 100%;
  }
}
.navigation .right__btn .navbtn:hover {
  background-color: #FF9500;
  cursor: pointer;
  color: #fff;
}

.container {
  max-width: 1595px;
  width: 96%;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 150px;
}
@media (max-width: 1280px) {
  .hero {
    margin: 80px auto 100px;
  }
}
@media (max-width: 767px) {
  .hero {
    margin: 50px auto;
  }
}
.hero__top {
  display: flex;
  gap: 10px;
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  background-color: #fff;
  border-radius: 11px;
  padding: 12px;
}
.hero__top::before {
  content: "";
  width: 39px;
  height: 43px;
  position: relative;
  background: url("/icons/abstractLine.png");
  top: -28px;
  left: -28px;
}
.hero__top img {
  object-position: 50% 50%;
  width: 62px;
  height: 62px;
  margin: 0 0 0 -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
  .hero__top img {
    width: 48px;
    height: 48px;
  }
}
.hero__top h1 {
  font-size: 48px;
  align-self: center;
}
@media (max-width: 1280px) {
  .hero__top h1 {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .hero__top h1 {
    font-size: 16px;
  }
}
.hero__top span {
  color: #FF9500;
  font-size: 48px;
}
@media (max-width: 1280px) {
  .hero__top span {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .hero__top span {
    font-size: 16px;
  }
}
.hero__medium--text {
  font-size: 38px;
  margin-top: 20px;
}
@media (max-width: 1280px) {
  .hero__medium--text {
    font-size: 28px;
    font-family: "Be Vietnam Pro Medium", sans-serif;
    font-weight: 500;
  }
}
@media (max-width: 767px) {
  .hero__medium--text {
    font-size: 24px;
    display: flex;
    justify-content: center;
    width: 270px;
    margin: 16px auto 0;
  }
}
.hero__medium p {
  display: flex;
  font-size: 18px;
  padding-top: 20px;
  justify-content: center;
}
@media (max-width: 1280px) {
  .hero__medium p {
    font-size: 16px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .hero__medium p {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
}
.hero__bottom {
  display: flex;
  gap: 12px;
  padding: 60px 0 100px;
}
@media (max-width: 767px) {
  .hero__bottom {
    padding: 50px 0 30px;
  }
}
.hero__bottom--btn button {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  padding: 18px 24px;
  border-radius: 8px;
  background-color: #fff;
}
@media (max-width: 1280px) {
  .hero__bottom--btn button {
    font-size: 14px;
  }
}
.hero__bottom--btn button:hover {
  padding: 18px 23px;
  color: #fff;
  background-color: #FF9500;
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
}
.hero__sponsor {
  background-color: #FCFCFD;
  width: 100%;
  height: 154px;
  margin-bottom: 100px;
  align-content: center;
  border-radius: 12px;
}
@media (max-width: 767px) {
  .hero__sponsor {
    height: 84px;
    margin-bottom: 30px;
  }
}
.hero__sponsor--list {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .hero__sponsor--list li:nth-child(n+4) {
    display: none;
  }
}
.hero__img {
  border-radius: 15px;
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.logos:before, .logos:after {
  position: absolute;
  top: 0;
  content: "";
  width: 250px;
  height: 100%;
  z-index: 2;
}
@media (max-width: 767px) {
  .logos:before, .logos:after {
    width: 50px;
  }
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logos_items {
  display: inline-flex;
  animation: 35s slides infinite linear;
}
.logos_items img {
  margin-right: 140px;
}

.logos:hover .logos_items {
  animation-play-state: paused;
}

@keyframes slides {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.benefits {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .benefits {
    margin-bottom: 50px;
  }
}
.benefits__text {
  display: flex;
  margin-bottom: 80px;
  gap: 15vw;
}
@media (max-width: 767px) {
  .benefits__text {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
}
.benefits__text .textOne h1 {
  font-size: 48px;
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 28px;
}
@media (max-width: 1280px) {
  .benefits__text .textOne h1 {
    font-size: 38px;
  }
}
@media (max-width: 1280px) {
  .benefits__text .textOne p {
    font-size: 16px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
.benefits__text .textTwo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 200px;
}
@media (max-width: 767px) {
  .benefits__text .textTwo {
    justify-content: flex-start;
  }
}
.benefits__text .textTwo p {
  padding: 18px 24px;
  background-color: #FCFCFD;
  border-radius: 8px;
}
@media (max-width: 1280px) {
  .benefits__text .textTwo p {
    font-size: 14px;
    font-family: "Be Vietnam Pro Medium", sans-serif;
    font-weight: 500;
  }
}
.benefits__text .textTwo p:hover {
  background-color: #FF9500;
  color: #fff;
  cursor: pointer;
}
.benefits__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media (max-width: 767px) {
  .benefits__tabs {
    grid-template-columns: repeat(1, 1fr);
  }
}
.benefits__tabs .card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .benefits__tabs .card {
    padding: 30px;
    align-items: center;
  }
}
.benefits__tabs .card .number {
  font-size: 80px;
  font-family: "Be Vietnam Pro Bold", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
@media (max-width: 1280px) {
  .benefits__tabs .card .number {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .benefits__tabs .card .number {
    font-size: 50px;
    margin-bottom: 30px;
  }
}
.benefits__tabs .card h3 {
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 14px;
}
@media (max-width: 1280px) {
  .benefits__tabs .card h3 {
    font-size: 20px;
  }
}
.benefits__tabs .card .text {
  padding-bottom: 50px;
  font-size: 14px;
  padding-bottom: 30px;
}
@media (max-width: 1280px) {
  .benefits__tabs .card .text {
    font-size: 16px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
.benefits__tabs .card .vector {
  height: 74px;
  padding: 20px;
  background-color: #F7F7F8;
  border-radius: 8px;
}
@media (max-width: 1280px) {
  .benefits__tabs .card .vector {
    height: 54px;
    width: 54px;
    padding: 14px;
  }
  .benefits__tabs .card .vector img {
    width: 26px;
    height: 26px;
  }
}
@media (max-width: 767px) {
  .benefits__tabs .card .vector {
    display: flex;
    align-self: flex-end;
  }
}
.benefits__tabs .card .vector:hover {
  background-color: #000;
  cursor: pointer;
}

.courses {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .courses {
    margin-bottom: 50px;
  }
}
.courses__text {
  display: flex;
  margin-bottom: 80px;
  gap: 15vw;
}
@media (max-width: 1280px) {
  .courses__text {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .courses__text {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
}
.courses__text .textOne h1 {
  font-size: 48px;
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  padding-bottom: 10px;
}
@media (max-width: 1280px) {
  .courses__text .textOne h1 {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .courses__text .textOne h1 {
    font-size: 28px;
  }
}
@media (max-width: 1280px) {
  .courses__text .textOne p {
    font-size: 16px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .courses__text .textOne p {
    font-size: 14px;
  }
}
.courses__text .textTwo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 200px;
}
@media (max-width: 767px) {
  .courses__text .textTwo {
    justify-content: flex-start;
  }
}
.courses__text .textTwo p {
  padding: 18px 24px;
  background-color: #FCFCFD;
  border-radius: 8px;
}
.courses__text .textTwo p:hover {
  background-color: #FF9500;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .courses__text .textTwo p {
    font-size: 14px;
    font-family: "Be Vietnam Pro Medium", sans-serif;
    font-weight: 500;
  }
}
.courses__tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media (max-width: 767px) {
  .courses__tabs {
    font-size: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.courses__tabs .card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .courses__tabs .card {
    align-items: center;
    padding: 24px;
  }
}
.courses__tabs .card__advance {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
@media (max-width: 767px) {
  .courses__tabs .card__advance {
    flex-direction: column;
    gap: 14px;
    margin: 24px 0;
  }
}
.courses__tabs .card__advance .week {
  display: flex;
  gap: 10px;
}
.courses__tabs .card__advance .week p {
  padding: 10px 16px;
  background-color: #F7F7F8;
  border-radius: 8px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
}
@media (max-width: 1280px) {
  .courses__tabs .card__advance .week p {
    font-size: 14px;
  }
}
.courses__tabs .card__advance .author {
  align-self: center;
}
@media (max-width: 1280px) {
  .courses__tabs .card__advance .author {
    font-size: 16px;
    font-family: "Be Vietnam Pro Medium", sans-serif;
    font-weight: 500;
  }
}
@media (max-width: 767px) {
  .courses__tabs .card__advance .author {
    align-self: flex-start;
  }
}
.courses__tabs .card h3 {
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 1280px) {
  .courses__tabs .card h3 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .courses__tabs .card h3 {
    font-size: 18px;
  }
}
.courses__tabs .card .text {
  margin: 14px 0 30px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
}
@media (max-width: 1280px) {
  .courses__tabs .card .text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .courses__tabs .card .text {
    font-size: 14px;
  }
}
.courses__tabs .card .btn {
  display: inline-flex;
  width: 100%;
}
.courses__tabs .card .btn-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
  border-radius: 8px;
  color: #262626;
  background-color: #F1F1F3;
}
.courses__tabs .card .btn-enter:hover {
  background-color: #FF9500;
  color: #fff;
}
@media (max-width: 1280px) {
  .courses__tabs .card .btn-enter {
    font-family: "Be Vietnam Pro Medium", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
}

.testimonials {
  margin-bottom: 150px;
}
@media (max-width: 1280px) {
  .testimonials {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .testimonials {
    margin-bottom: 50px;
  }
}
.testimonials__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  gap: 15vw;
}
@media (max-width: 1280px) {
  .testimonials__text {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .testimonials__text {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
}
.testimonials__text .textOne h1 {
  font-size: 48px;
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  padding-bottom: 10px;
}
@media (max-width: 1280px) {
  .testimonials__text .textOne h1 {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .testimonials__text .textOne h1 {
    font-size: 28px;
  }
}
@media (max-width: 1280px) {
  .testimonials__text .textOne p {
    font-size: 16px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .testimonials__text .textOne p {
    font-size: 14px;
  }
}
.testimonials__text .textTwo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 200px;
}
@media (max-width: 767px) {
  .testimonials__text .textTwo {
    justify-content: flex-start;
  }
}
.testimonials__text .textTwo p {
  padding: 18px 24px;
  background-color: #FCFCFD;
  border-radius: 8px;
}
.testimonials__text .textTwo p:hover {
  background-color: #FF9500;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .testimonials__text .textTwo p {
    font-size: 14px;
    font-family: "Be Vietnam Pro Medium", sans-serif;
    font-weight: 500;
  }
}
.testimonials__tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media (max-width: 767px) {
  .testimonials__tabs {
    grid-template-columns: repeat(1, 1fr);
  }
}
.testimonials__tabs .card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  padding: 50px 50px 30px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .testimonials__tabs .card {
    padding: 30px 30px 20px;
  }
}
.testimonials__tabs .card .text {
  margin-bottom: 50px;
}
@media (max-width: 1280px) {
  .testimonials__tabs .card .text {
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .testimonials__tabs .card .text {
    font-size: 14px;
  }
}
.testimonials__tabs .card .author {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.testimonials__tabs .card .author .person {
  display: flex;
  gap: 15px;
  align-items: center;
}
@media (max-width: 1280px) {
  .testimonials__tabs .card .author .person {
    font-family: "Be Vietnam Pro SemiBold", sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
}
.testimonials__tabs .card .author .moreStory {
  padding: 18px 24px;
  background-color: #F1F1F3;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials__tabs .card .author .moreStory:hover {
  cursor: pointer;
  background-color: #FF9500;
  color: #fff;
}
@media (max-width: 1280px) {
  .testimonials__tabs .card .author .moreStory {
    font-family: "Be Vietnam Pro Medium", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .testimonials__tabs .card .author .moreStory {
    padding: 14px 16px;
  }
}

.pricing {
  margin-bottom: 150px;
}
@media (max-width: 1280px) {
  .pricing {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .pricing {
    margin-bottom: 50px;
  }
}
.pricing__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  gap: 5vw;
}
@media (max-width: 767px) {
  .pricing__text {
    flex-direction: column;
    margin-bottom: 40px;
  }
}
.pricing__text .textOne h1 {
  font-size: 48px;
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  padding-bottom: 10px;
}
@media (max-width: 1280px) {
  .pricing__text .textOne h1 {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .pricing__text .textOne h1 {
    font-size: 28px;
  }
}
@media (max-width: 1280px) {
  .pricing__text .textOne p {
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .pricing__text .textOne p {
    font-size: 14px;
  }
}
.pricing__text .textTwo {
  display: flex;
  align-items: center;
  background-color: #FCFCFD;
  border-radius: 8px;
  max-width: 272px;
  max-height: 79px;
  padding: 12px;
}
.pricing__text .textTwo p {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  padding: 14px 30px;
  border-radius: 8px;
}
.pricing__text .textTwo p:hover {
  background-color: #FF9500;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .pricing__text .textTwo {
    font-family: "Be Vietnam Pro Medium", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
}
.pricing__tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  background-color: #fff;
  padding: 80px;
  border-radius: 12px;
}
@media (max-width: 767px) {
  .pricing__tabs {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
}
.pricing__tabs .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FCFCFD;
  padding: 50px 30px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .pricing__tabs .card {
    padding: 20px;
  }
}
.pricing__tabs .card .plan {
  background-color: #FFF9F0;
  max-width: 644px;
  width: 100%;
  padding: 12px 0;
  border-radius: 6px;
  margin-bottom: 50px;
  font-size: 22px;
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
@media (max-width: 1280px) {
  .pricing__tabs .card .plan {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .pricing__tabs .card .plan {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.pricing__tabs .card .price {
  margin-bottom: 50px;
  color: #4C4C4D;
  font-size: 20px;
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .pricing__tabs .card .price {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .pricing__tabs .card .price {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
.pricing__tabs .card .price span {
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 80px;
}
@media (max-width: 1280px) {
  .pricing__tabs .card .price span {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .pricing__tabs .card .price span {
    font-size: 50px;
  }
}
.pricing__tabs .card .list {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px 8px 0 0;
}
.pricing__tabs .card .list .name {
  display: flex;
  justify-content: center;
  padding: 40px 0 30px;
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 1280px) {
  .pricing__tabs .card .list .name {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .pricing__tabs .card .list .name {
    padding: 20px 0 0;
  }
}
.pricing__tabs .card .list__main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  border: 1px solid #F1F1F3;
  padding: 14px 0 14px 14px;
  border-radius: 8px;
  margin: 0 30px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.pricing__tabs .card .list__main:last-child {
  margin-bottom: 40px;
}
@media (max-width: 1280px) {
  .pricing__tabs .card .list__main {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .pricing__tabs .card .list__main {
    margin: 0 20px;
  }
  .pricing__tabs .card .list__main:last-child {
    margin-bottom: 40px;
  }
}
.pricing__tabs .card .list__main img {
  background-color: #FFF4E5;
  padding: 6px;
  border-radius: 6px;
}
@media (max-width: 1280px) {
  .pricing__tabs .card .list__main img {
    width: 24px;
  }
}
.pricing__tabs .card .list__main-nope {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin: 0 30px;
  border: 1px solid #F1F1F3;
  padding: 14px 0px 14px 14px;
  border-radius: 8px;
}
.pricing__tabs .card .list__main-nope:last-child {
  margin-bottom: 40px;
}
@media (max-width: 1280px) {
  .pricing__tabs .card .list__main-nope {
    font-size: 14px;
    margin: 0 20px;
  }
  .pricing__tabs .card .list__main-nope:last-child {
    margin-bottom: 20px;
  }
}
.pricing__tabs .card .list__main-nope img {
  background-color: #F1F1F3;
  border-radius: 6px;
}
@media (max-width: 1280px) {
  .pricing__tabs .card .list__main-nope img {
    width: 24px;
  }
}
.pricing__tabs button {
  width: 100%;
  background-color: #F1F1F3;
  padding: 20px 0;
  border-radius: 0 0 8px 8px;
  color: #262626;
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
}
@media (max-width: 767px) {
  .pricing__tabs button {
    color: #fff;
    background-color: #FF9500;
  }
}
.pricing__tabs button:hover {
  color: #fff;
  background-color: #FF9500;
}
@media (max-width: 1280px) {
  .pricing__tabs button {
    font-size: 14px;
  }
}

.faq {
  background-color: #fff;
  display: flex;
  padding: 100px;
  margin-bottom: 142px;
  border-radius: 12px;
}
@media (max-width: 767px) {
  .faq {
    flex-direction: column;
    padding: 24px;
    margin-bottom: 50px;
  }
}
.faq--left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 767px) {
  .faq--left {
    gap: 20px;
  }
}
.faq--left .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faq--left .text .mainText {
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #262626;
}
@media (max-width: 1280px) {
  .faq--left .text .mainText {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .faq--left .text .mainText {
    font-size: 28px;
  }
}
.faq--left .text .secondText {
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333;
}
@media (max-width: 1280px) {
  .faq--left .text .secondText {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .faq--left .text .secondText {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .faq--left .btnSeeAll {
    display: inline-flex;
    margin-bottom: 40px;
  }
}
.faq--left .btnSeeAll a {
  color: #262626;
  padding: 18px 24px;
  border: 1px solid #F1F1F3;
  border-radius: 8px;
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.faq--left .btnSeeAll a:hover {
  color: #fff;
  background-color: #FF9500;
}
@media (max-width: 1280px) {
  .faq--left .btnSeeAll a {
    font-size: 14px;
  }
}
.faq--right {
  width: 63%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 767px) {
  .faq--right {
    width: 100%;
    gap: 20px;
  }
}
.faq--right .card {
  border: 1px solid #F1F1F3;
  border-radius: 12px;
}
.faq--right .card .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  max-width: 867px;
  gap: 50px;
}
@media (max-width: 767px) {
  .faq--right .card .question {
    padding: 20px 24px;
    gap: 30px;
  }
}
.faq--right .card .question .text {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  color: #262626;
  width: 665px;
}
@media (max-width: 1280px) {
  .faq--right .card .question .text {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .faq--right .card .question .btnPlus {
    width: 100%;
    max-width: 40px;
  }
}
.faq--right .card .question .btnPlus img {
  padding: 12px;
  background-color: #FFF4E5;
  border-radius: 8px;
}
.faq--right .card .question .btnPlus img:hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .faq--right .card .question .btnPlus img {
    padding: 10px;
  }
}
.faq--right .card .answer {
  display: none;
}
.faq--right .card .answer .textOne {
  border-top: 1px solid #F1F1F3;
  color: #4C4C4D;
  padding: 50px 0;
  margin: 0 50px;
}
@media (max-width: 1280px) {
  .faq--right .card .answer .textOne {
    font-size: 16px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .faq--right .card .answer .textOne {
    font-size: 16px;
  }
}
.faq--right .card .answer .more {
  background-color: #F7F7F8;
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 50px;
}
.faq--right .card .answer .more .textTwo {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 1280px) {
  .faq--right .card .answer .more .textTwo {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .faq--right .card .answer .more .textTwo {
    font-size: 14px;
  }
}
.faq--right .card .answer .more img {
  background-color: #fff;
  padding: 14px;
  border-radius: 50%;
}

footer {
  background-color: #fff;
  margin: 150px auto 0;
}
@media (max-width: 767px) {
  footer {
    margin: 0 auto;
  }
}
footer .up {
  max-width: 1590px;
  width: 96%;
  padding: 100px 0 0;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  footer .up {
    padding: 60px 0 0 0;
  }
}
@media (max-width: 767px) {
  footer .up {
    flex-direction: column;
    gap: 24px;
    padding: 50px 0 0;
  }
}
footer .up .left {
  width: 50%;
}
footer .up .left .webLogo {
  margin-bottom: 40px;
}
footer .up .left ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 1280px) {
  footer .up .left ul {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  footer .up .left ul {
    font-size: 15px;
  }
}
footer .up .left ul li {
  display: flex;
  gap: 6px;
  align-items: center;
}
footer .up .right {
  width: 50%;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
@media (max-width: 767px) {
  footer .up .right {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
footer .up .right .home ul, footer .up .right .aboutUs ul, footer .up .right .socials ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #59595A;
  cursor: pointer;
  border-bottom: 0px;
}
@media (max-width: 1280px) {
  footer .up .right .home ul, footer .up .right .aboutUs ul, footer .up .right .socials ul {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  footer .up .right .home ul, footer .up .right .aboutUs ul, footer .up .right .socials ul {
    font-size: 14px;
  }
}
footer .up .right .home ul li:first-child, footer .up .right .aboutUs ul li:first-child, footer .up .right .socials ul li:first-child {
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #262626;
  margin-bottom: 14px;
}
@media (max-width: 1280px) {
  footer .up .right .home ul li:first-child, footer .up .right .aboutUs ul li:first-child, footer .up .right .socials ul li:first-child {
    font-size: 18px;
  }
}
footer .up .right .home ul .cool-link, footer .up .right .aboutUs ul .cool-link, footer .up .right .socials ul .cool-link {
  display: inline-block;
  color: #59595A;
  text-decoration: none !important;
}
footer .up .right .home ul .cool-link::after, footer .up .right .aboutUs ul .cool-link::after, footer .up .right .socials ul .cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #FF9500;
  transition: width 0.3s;
}
footer .up .right .home ul .cool-link:hover::after, footer .up .right .aboutUs ul .cool-link:hover::after, footer .up .right .socials ul .cool-link:hover::after {
  width: 100%;
}
footer .up .right .home ul .blck, footer .up .right .aboutUs ul .blck, footer .up .right .socials ul .blck {
  color: #262626;
}
footer .up .right__nav {
  display: flex;
  gap: 30px;
  width: 350px;
}
footer .up .right .socials li {
  display: flex;
  gap: 14px;
}
@media (max-width: 767px) {
  footer .up .right .socials li {
    gap: 10px;
  }
}
footer .up .right .socials li img {
  padding: 14px;
  background-color: #F7F7F8;
  border-radius: 8px;
}
footer .up .right .socials li img:hover {
  background-color: #FF9500;
  color: #fff;
}
footer .space {
  height: 1px;
  margin: 50px auto;
  background-color: #F1F1F3;
  display: flex;
  justify-content: center;
}
@media (max-width: 1280px) {
  footer .space {
    margin: 30px auto;
  }
}
footer .down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
@media (max-width: 1280px) {
  footer .down {
    font-size: 14px;
  }
}

.icon {
  width: 52px;
  height: 52px;
  cursor: pointer;
}

.arrowLeft {
  background: #fff url("../icons/vectorLeftSu.svg") no-repeat;
  background-position: center;
  border-radius: 8px;
}
.arrowLeft:hover {
  background: #FF9500 url("../icons/vectorLeftSuW.svg") no-repeat;
  background-position: center;
}

.arrowRight {
  background: #fff url("../icons/vectorRightSu.svg") no-repeat;
  background-position: center;
  border-radius: 8px;
}
.arrowRight:hover {
  background: #FF9500 url("../icons/vectorRightSuW.svg") no-repeat;
  background-position: center;
}

.fb {
  background: #F1F1F3 url("../socials/fb.svg") no-repeat;
  background-position: center;
  border-radius: 8px;
}
.fb:hover {
  background: #FF9500 url("../socials/fbW.svg") no-repeat;
  background-position: center;
}

.tt {
  background: #F1F1F3 url("../socials/tt.svg") no-repeat;
  background-position: center;
  border-radius: 8px;
}
.tt:hover {
  background: #FF9500 url("../socials/ttW.svg") no-repeat;
  background-position: center;
}

.linkedIn {
  background: #F1F1F3 url("../socials/linkedIn.svg") no-repeat;
  background-position: center;
  border-radius: 8px;
}
.linkedIn:hover {
  background: #FF9500 url("../socials/linkedInW.svg") no-repeat;
  background-position: center;
}

#dropdown {
  display: none;
}
@media (max-width: 767px) {
  #dropdown {
    display: block;
    margin-left: 20px;
  }
}/*# sourceMappingURL=home.css.map */