@font-face {
  font-family: "Be Vietnam Pro Regular";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro Medium";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro SemiBold";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro Bold";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.eot");
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.woff") format("woff"), url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  background-color: #F1F1F3;
}

body,
button {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
}
@media (max-width: 1280px) {
  body,
  button {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  body,
  button {
    font-size: 14px;
  }
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1589px;
  width: 96%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #F1F1F3;
  color: #fff;
  padding: 10px 0;
  height: 100px;
  max-width: 1589px;
  width: 96%;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .navigation {
    font-size: 14px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
.navigation .left {
  width: 869px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .navigation .left {
    width: 25%;
  }
}
.navigation .left .logo {
  margin-right: 50px;
  width: 54px;
  height: 54px;
}
@media (max-width: 1280px) {
  .navigation .left .logo {
    width: 44px;
    height: 44px;
  }
}
.navigation .left__nav {
  display: flex;
}
@media (max-width: 767px) {
  .navigation .left__nav {
    display: none;
  }
}
.navigation .left .navmenu {
  padding: 17px 24px;
  border-radius: 8px;
  align-items: center;
  color: #262626;
}
.navigation .left .navmenu:hover {
  background-color: #FF9500;
  cursor: pointer;
  color: #fff;
}
.navigation .right {
  display: flex;
  align-items: center;
}
.navigation .right__btn {
  display: flex;
  height: 55px;
  align-items: center;
}
.navigation .right__btn .navbtn {
  padding: 14px 34px;
  border-radius: 8px;
  align-items: center;
  background-color: #F1F1F3;
}
@media (max-width: 1280px) {
  .navigation .right__btn .navbtn {
    font-size: 14px;
    font-family: "Be Vietnam Pro Regular", sans-serif;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .navigation .right__btn .navbtn {
    padding: 12px 20px;
  }
}
.navigation .right__btn .navbtn:hover {
  background-color: #FF9500;
  cursor: pointer;
  color: #fff;
}

.signUp {
  display: flex;
  margin: 0 auto;
  gap: 100px;
}
@media (max-width: 767px) {
  .signUp {
    flex-direction: column-reverse;
    gap: 50px;
  }
}
.signUp .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 829px;
  width: 139%;
}
@media (max-width: 767px) {
  .signUp .left {
    max-width: 100%;
  }
}
.signUp .left__one h2 {
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  font-size: 38px;
  margin-bottom: 6px;
}
@media (max-width: 1280px) {
  .signUp .left__one h2 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .signUp .left__one h2 {
    font-size: 28px;
  }
}
.signUp .left__one p {
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 80px;
}
@media (max-width: 1280px) {
  .signUp .left__one p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .signUp .left__one p {
    font-size: 14px;
    margin-bottom: 40px;
  }
}
.signUp .left__two {
  margin-bottom: 30px;
}
.signUp .left__two-text {
  display: flex;
  margin: 0 auto;
}
.signUp .left__two-text p {
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #4C4C4D;
  background-color: #fff;
  padding: 50px;
}
@media (max-width: 1280px) {
  .signUp .left__two-text p {
    font-size: 16px;
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .signUp .left__two-text p {
    padding: 30px;
    font-size: 14px;
  }
}
.signUp .left__two-authors {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: #FCFCFD;
}
@media (max-width: 1280px) {
  .signUp .left__two-authors {
    padding: 24px 40px;
  }
}
@media (max-width: 767px) {
  .signUp .left__two-authors {
    padding: 20px 30px;
  }
}
.signUp .left__two-authors p {
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.signUp .left__two-authors p img {
  border-radius: 8px;
}
@media (max-width: 1280px) {
  .signUp .left__two-authors p {
    font-size: 16px;
  }
}
.signUp .left__two-authors .btn {
  background-color: #F7F7F8;
  padding: 18px 24px;
  border-radius: 8px;
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .signUp .left__two-authors .btn {
    font-size: 14px;
  }
}
.signUp .left__arrows {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  width: 100%;
  margin-bottom: 202px;
}
@media (max-width: 767px) {
  .signUp .left__arrows {
    margin-bottom: 50px;
  }
}
.signUp .left__arrows img {
  padding: 14px;
  background-color: #fff;
  border-radius: 8px;
}
.signUp .right {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #fff;
  padding: 50px;
  border-radius: 12px;
  width: 100%;
}
@media (max-width: 767px) {
  .signUp .right {
    padding: 30px;
  }
}
.signUp .right__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signUp .right__text h1 {
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #262626;
  margin-bottom: 12px;
}
@media (max-width: 1280px) {
  .signUp .right__text h1 {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .signUp .right__text h1 {
    font-size: 28px;
  }
}
.signUp .right__text p {
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #4C4C4D;
}
@media (max-width: 1280px) {
  .signUp .right__text p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .signUp .right__text p {
    font-size: 14px;
  }
}
.signUp .right__form form {
  display: flex;
  flex-direction: column;
}
.signUp .right__form form .nameText {
  margin-bottom: 14px;
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #262626;
}
@media (max-width: 1280px) {
  .signUp .right__form form .nameText {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .signUp .right__form form .nameText {
    font-size: 14px;
  }
}
.signUp .right__form form .namePole {
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #F1F1F3;
}
.signUp .right__form form .psw {
  background: url("../icons/eyePassword.svg") no-repeat;
  background-position: 95% 50%;
  cursor: pointer;
  position: relative;
}
.signUp .right__form form .checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 460px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .signUp .right__form form .checkbox {
    width: 100%;
  }
}
.signUp .right__form form .checkbox .check {
  width: 30px;
  height: 30px;
}
.signUp .right__form form .checkbox .checkText {
  display: flex;
  gap: 8px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #59595A;
}
@media (max-width: 1280px) {
  .signUp .right__form form .checkbox .checkText {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .signUp .right__form form .checkbox .checkText {
    width: 330px;
    gap: 2px;
    font-size: 14px;
  }
}
.signUp .right__form form .checkbox .checkText a {
  color: #59595A;
  text-decoration: underline;
}
.signUp .right__form form .btnSignUp {
  padding: 18px 0;
  border-radius: 8px;
  color: #262626;
  background-color: #F1F1F3;
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 24px;
}
.signUp .right__form form .btnSignUp:hover {
  color: #F1F1F3;
  background-color: #FF9500;
}
@media (max-width: 1280px) {
  .signUp .right__form form .btnSignUp {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .signUp .right__form form .btnSignUp {
    font-size: 14px;
  }
}
.signUp .right__form .bars {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}
.signUp .right__form .bars__before, .signUp .right__form .bars__after {
  width: 45%;
  border: 1px solid #e4e4e7;
}
.signUp .right__form .bars__content {
  color: #98989a;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.signUp .right__form .btnGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 100%;
  padding: 20px 0;
  font-family: "Be Vietnam Pro Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.signUp .right__form .btnGoogle:hover {
  color: #F1F1F3;
  background-color: #FF9500;
}
@media (max-width: 1280px) {
  .signUp .right__form .btnGoogle {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .signUp .right__form .btnGoogle {
    font-size: 14px;
  }
}
.signUp .right__form p, .signUp .right__form a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.signUp .right__form p a, .signUp .right__form a a {
  text-decoration: underline;
  color: #4C4C4D;
}

footer {
  background-color: #fff;
  margin: 150px auto 0;
}
@media (max-width: 767px) {
  footer {
    margin: 0 auto;
  }
}
footer .up {
  max-width: 1590px;
  width: 96%;
  padding: 100px 0 0;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  footer .up {
    padding: 60px 0 0 0;
  }
}
@media (max-width: 767px) {
  footer .up {
    flex-direction: column;
    gap: 24px;
    padding: 50px 0 0;
  }
}
footer .up .left {
  width: 50%;
}
footer .up .left .webLogo {
  margin-bottom: 40px;
}
footer .up .left ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 1280px) {
  footer .up .left ul {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  footer .up .left ul {
    font-size: 15px;
  }
}
footer .up .left ul li {
  display: flex;
  gap: 6px;
  align-items: center;
}
footer .up .right {
  width: 50%;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
@media (max-width: 767px) {
  footer .up .right {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
footer .up .right .home ul, footer .up .right .aboutUs ul, footer .up .right .socials ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Be Vietnam Pro Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #59595A;
}
@media (max-width: 1280px) {
  footer .up .right .home ul, footer .up .right .aboutUs ul, footer .up .right .socials ul {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  footer .up .right .home ul, footer .up .right .aboutUs ul, footer .up .right .socials ul {
    font-size: 14px;
  }
}
footer .up .right .home ul li:first-child, footer .up .right .aboutUs ul li:first-child, footer .up .right .socials ul li:first-child {
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #262626;
  margin-bottom: 14px;
}
@media (max-width: 1280px) {
  footer .up .right .home ul li:first-child, footer .up .right .aboutUs ul li:first-child, footer .up .right .socials ul li:first-child {
    font-size: 18px;
  }
}
footer .up .right__nav {
  display: flex;
  gap: 30px;
  width: 350px;
}
footer .up .right .socials li {
  display: flex;
  gap: 14px;
}
@media (max-width: 767px) {
  footer .up .right .socials li {
    gap: 10px;
  }
}
footer .up .right .socials li img {
  padding: 14px;
  background-color: #F7F7F8;
  border-radius: 8px;
}
footer .up .right .socials li img:hover {
  background-color: #FF9500;
  color: #fff;
}
footer .space {
  height: 1px;
  margin: 50px auto;
  background-color: #F1F1F3;
  display: flex;
  justify-content: center;
}
@media (max-width: 1280px) {
  footer .space {
    margin: 30px auto;
  }
}
footer .down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
@media (max-width: 1280px) {
  footer .down {
    font-size: 14px;
  }
}

#dropdown {
  display: none;
}
@media (max-width: 767px) {
  #dropdown {
    display: block;
    margin-left: 20px;
  }
}/*# sourceMappingURL=signUp.css.map */