// Fonty
@font-face {
    font-family: 'Be Vietnam Pro Regular';
    src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot');
    src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot.woff') format('woff'),
    url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.eot.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Be Vietnam Pro Medium';
    src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.eot');
    src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.woff') format('woff'),
    url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Be Vietnam Pro SemiBold';
    src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.eot');
    src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.woff') format('woff'),
    url('../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Be Vietnam Pro Bold';
    src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.eot');
    src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.woff') format('woff'),
    url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}