//Styl fontu
$body-font: "Be Vietnam Pro", sans-serif
// Velikost fontu
$regular: 18px
$medium: 20px
$semi-bold: 24px
$bold: 50px
$h1-font-size: 48px
$h2-font-size: 38px
$number-size: 80px
$icon-font-size: 18px
$normal-font-size: 22px
// Barva
$main-color: #262626
$second-color: #FF9500
$weak-second-color: #FFF4E5
$text-color: #4C4C4D
$white-color: #F1F1F3
$bg-color: #F7F7F8
$bg-btn-color: #FCFCFD
$absolute-white: #fff
$orange-color: #FFEACC
$bg-icon-color: #FFF4E5
$weak-bg-color: #FFF9F0
$weak-text-color: #59595A

