@import ../partials/_mixins
@import ../partials/_vars
@import ../partials/_fonts
// zakladní nastavení
*
    box-sizing: border-box
    margin: 0
    padding: 0
body
    @include medium
    background-color: $white-color
body,
button
    font-family: $body-font
    font-size: $regular

img, 
iframe
    max-width: 100%
    height: auto
button
    cursor: pointer
    border: none
    outline: none
ul,
li
    list-style: none
a
    text-decoration: none
.container
    max-width: 1596px
    width: 96%
    margin: 0 auto
// Banner
.banner
    max-width: 1860px
    width: 96%
    margin: 20px auto 0
    background-color: $second-color
    height: 55px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 8px
    gap: 23px
    @include regular
    &__text
        color: $absolute-white
    img
        width: 24px
        height: 24px
    @media (max-width: 1280px)
        font-size: $btn-laptop
        img
            width: 20px
            height: 20px
// Navigation bar
.navigation
    display: flex
    justify-content: space-between
    background-color: $white-color
    color: #fff
    padding: 10px 0
    height: 100px
    max-width: 1589px
    width: 96%
    margin: 0 auto
    @media (max-width: 1280px)
        font-size: $btn-laptop
        @include regular     
    .left
        width: 869px
        display: flex
        align-items: center
        @media (max-width: 767px)
                 width: 30% 
        .logo
            margin-right: 50px
            width: 54px
            height: 54px
            @media (max-width: 1280px)
                width: 44px
                height: 44px
        &__nav
            display: flex
            @media (max-width: 767px)
                display: none    
        .navmenu
            padding: 17px 24px
            border-radius: 8px
            align-items: center
            color: $main-color
            &:hover
                background-color: $second-color
                cursor: pointer
                color: #fff
    .right
        display: flex
        align-items: center
        &__btn
            display: flex
            height: 55px
            align-items: center
            .navbtn
                padding: 14px 34px
                border-radius: 8px
                align-items: center
                background-color: $white-color
                @media (max-width: 1280px)
                    font-size: $btn-laptop
                    @include regular
                @media (max-width: 767px)
                    padding: 12px 20px
                    height: 100%
                &:hover
                    background-color: $second-color
                    cursor: pointer
                    color: #fff

// main section
.courses
    display: flex
    flex-direction: column
    &__text
        display: flex
        gap: 100px
        width: 100%
        justify-content: space-between
        margin-bottom: 100px
        @media (max-width: 767px)
            flex-direction: column
            gap: 16px
            margin-bottom: 50px
        h1
            display: flex
            width: 50%
            align-items: center
            @include semiBold
            font-size: $h1-font-size
            @media (max-width: 1280px)
                font-size: $h1-font-size-laptop
            @media (max-width: 767px)
                font-size: $h1-font-size-mobile
                width: 60%
        p
            width: 50%
            padding-right: 6.94438vw
            color: $weak-text-color
            @include regular
            font-size: $regular
            @media (max-width: 1280px)
                font-size: $regular-laptop
            @media (max-width: 767px)
                font-size: $regular-mobile
                width: 100%
    &__card
        background-color: $absolute-white
        padding: 50px
        margin-bottom: 50px
        @media (max-width: 1280px)
            padding: 40px
            margin-bottom: 40px
        @media (max-width: 767px)
            padding: 24px
            margin-bottom: 20px
        &-text
            display: flex
            gap: 50px
            justify-content: center
            align-items: center
            .text
                width: 83%
                margin-bottom: 30px
                .mainText
                    @include semiBold
                    font-size: $semi-bold
                    margin-bottom: 10px
                    @media (max-width: 1280px)
                        font-size: $semi-bold-laptop
                    @media (max-width: 767px)
                        font-size: $medium-mobile
                .secondText
                    @include regular
                    font-size: $regular
                    @media (max-width: 1280px)
                        font-size: $regular-laptop
                    @media (max-width: 767px)
                        font-size: $regular-mobile
            .view
                display: flex
                justify-content: center
                align-items: center
                @include medium
                font-size: $regular
                @media (max-width: 1280px)
                    font-size: $btn-laptop
                a
                    color: $main-color
                    padding: 18px 24px
                    background-color: $white-color
                    &:hover
                        background-color: $second-color
                        color: $absolute-white
        &-images
            display: flex
            width: 100%
            gap: 2%
            margin-bottom: 30px
            @media (max-width: 767px)

            img
                width: 32.6%
        &-author
            display: flex
            justify-content: space-between
            margin-bottom: 50px
            .informacion
                display: flex
                gap: 10px
                .info
                    padding: 10px 16px
                    border: 1px solid $white-color
                    border-radius: 8px
                    color: $weak-text-color
                    @include regular
                    @media (max-width: 1280px)
                        font-size: $regular-laptop
                    @media (max-width: 767px)
                        font-size: $regular-mobile
            .author
                font-size: 20px
                @include medium
                @media (max-width: 1280px)
                    font-size: $medium-laptop
                @media (max-width: 767px)
                    font-size: $regular-mobile2
        &-program
            display: flex
            flex-direction: column
            .head
                border: 1px solid $white-color
                padding: 24px 30px
                border-radius: 10px 10px 0 0
                @include semiBold
                @media (max-width: 1280px)
                        font-size: $medium-laptop
                @media (max-width: 767px)
                        font-size: $regular-mobile2
            .body
                display: flex
                border: 1px solid $white-color
                border-radius: 0 0 10px 10px
                @media (max-width: 767px)
                    flex-direction: column
                .main
                    padding: 30px 0
                    width: 20%
                    &-box
                        border-right: 1px solid $white-color
                        height: 100%
                        padding: 0 50px
                        display: flex
                        flex-direction: column
                        gap: 20px
                        @media (max-width: 767px)
                            padding: 0 0 24px
                            width: 262px
                            border-bottom: 1px solid $white-color
                            border-right: 0
                            display: flex
                            flex-direction: column
                            margin: 0 24px
                            gap: 12px
                        .mainText
                            @include bold
                            font-size: $bold
                            @media (max-width: 1280px)
                                font-size: 40px
                            @media (max-width: 767px)
                                font-size: 30px
                        .secondText
                            @include medium
                            font-size: $regular
                            @media (max-width: 1280px)
                                font-size: $regular-laptop
                            @media (max-width: 767px)
                                font-size: $regular-mobile
// ikony
.icon
    width: 52px
    height: 52px
    cursor: pointer
.fb
    background: $white-color url("../socials/fb.svg") no-repeat
    background-position: center
    border-radius: 8px
    &:hover
        background: $second-color url("../socials/fbW.svg") no-repeat
        background-position: center
.tt
    background: $white-color url("../socials/tt.svg") no-repeat
    background-position: center
    border-radius: 8px
    &:hover
        background: $second-color url("../socials/ttW.svg") no-repeat
        background-position: center
.linkedIn
    background: $white-color url("../socials/linkedIn.svg") no-repeat
    background-position: center
    border-radius: 8px
    &:hover
        background: $second-color url("../socials/linkedInW.svg") no-repeat
        background-position: center
// Footer section
footer
    background-color: $absolute-white
    margin: 150px auto 0
    @media (max-width: 767px)
        margin: 0 auto
    .up
        max-width: 1590px
        width: 96%
        padding: 100px 0 0 
        background-color: $absolute-white
        display: flex
        margin: 0 auto
        @media (max-width: 1280px)
            padding: 60px 0 0 0 
        @media (max-width: 767px)
            flex-direction: column
            gap: 24px
            padding: 50px 0 0 
        .left
            width: 50%
            .webLogo
                margin-bottom: 40px
            ul
                display: flex
                flex-direction: column
                gap: 20px
                @include regular
                font-size: $regular
                @media (max-width: 1280px)
                    font-size: $regular-laptop
                @media (max-width: 767px)
                    font-size: $footer-mobile
                li
                    display: flex
                    gap: 6px
                    align-items: center
        .right
            width: 50%
            display: flex
            gap: 30px
            justify-content: space-around
            @media (max-width: 767px)
                display: flex
                flex-direction: column
                gap: 24px
            .home, .aboutUs, .socials
                ul
                    display: flex
                    flex-direction: column
                    gap: 8px
                    @include regular
                    font-size: $regular
                    color: $weak-text-color
                    cursor: pointer
                    border-bottom: 0px
                    @media (max-width: 1280px)
                        font-size: $regular-laptop
                    @media (max-width: 767px)
                        font-size: $regular-mobile
                    li
                        &:first-child
                            @include semiBold
                            font-size: 20px
                            color: $main-color
                            margin-bottom: 14px
                            @media (max-width: 1280px)
                                font-size: $medium-laptop
                    .cool-link
                        display: inline-block
                        color: $weak-text-color
                        text-decoration: none !important
                        &::after 
                            content: ''
                            display: block
                            width: 0
                            height: 2px
                            background: $second-color
                            transition: width .3s
                        &:hover::after
                            width: 100%
                            //transition: width .3s;
                    .blck
                        color: $main-color
            &__nav
                display: flex
                gap: 30px
                width: 350px
            .socials
                li
                    display: flex
                    gap: 14px
                    @media (max-width: 767px)
                        gap: 10px
                    img
                        padding: 14px
                        background-color: $bg-color
                        border-radius: 8px
                        &:hover
                            background-color: $second-color
                            color: $absolute-white
    .space
        height: 1px
        margin: 50px auto
        background-color: $white-color
        display: flex
        justify-content: center
        @media (max-width: 1280px)
            margin: 30px auto
    .down
        display: flex
        justify-content: center
        align-items: center
        padding-bottom: 30px
        @media (max-width: 1280px)
            font-size: $btn-laptop
#dropdown
    display: none
    @media (max-width: 767px)
        display: block
        margin-left: 20px
                
                        

                
                    

        
